#header1-0 H1 {
  text-align: right;
  color: #c40500;
}
#header1-0 P {
  text-align: right;
  color: #c40500;
}
#content4-c H4 {
  text-align: right;
}
#content4-c P {
  text-align: left;
  font-size: 20px;
}
#content4-c B {
  font-size: 32px;
}
#content4-1 H4 {
  text-align: right;
}
#content4-1 P {
  text-align: left;
  font-size: 20px;
}
#content4-2 H4 {
  text-align: right;
}
#content4-2 P {
  text-align: left;
  font-size: 20px;
}
#content4-2 B {
  font-size: 32px;
}
#content4-3 H4 {
  text-align: right;
}
#content4-3 P {
  text-align: left;
  font-size: 20px;
}
#content4-4 H4 {
  text-align: right;
}
#content4-4 P {
  text-align: left;
  font-size: 20px;
}
#content4-5 H4 {
  text-align: right;
}
#content4-5 P {
  text-align: left;
  font-size: 20px;
}
#content4-6 H4 {
  text-align: right;
}
#content4-6 P {
  text-align: left;
  font-size: 20px;
}
#content4-7 H4 {
  text-align: right;
}
#content4-7 P {
  text-align: left;
  font-size: 20px;
}
#content4-8 H4 {
  text-align: right;
}
#content4-8 P {
  text-align: left;
  font-size: 20px;
}
#content4-9 H4 {
  text-align: right;
}
#content4-9 P {
  text-align: left;
  font-size: 20px;
}
#content4-a H4 {
  text-align: right;
}
#content4-a P {
  text-align: left;
  font-size: 20px;
}
